/* Remove os estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #F5F3FF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}

/* Header */
.header {
    height: 90px;
    padding: 0 60px;

    display: flex;
    align-items: center;

    background-color: #9DFBC1;
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

/* Área formada pelo menu lateral e pelo conteúdo */
.dashboard {
    display: flex;
    flex: 1;
}

/* Menu lateral */
.menu-lateral {
    width: 200px;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: #F0FDF4;
    font-weight: 500;
}

.menu-lateral a {
    padding: 10px;

    color: #000;
    text-decoration: none;
}

/* Destaca a página que está aberta */
.menu-lateral .pagina-atual {
    background-color: #16A34A;
    color: #FFF;
}

/* Conteúdo principal */
.conteudo {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 40px 50px 40px;
}

/* estilizacao dos titulos */
.titulo {
    margin: 20px 0 15px 0;

    color: #14532D;
    font-size: 2rem;
    text-align: center;
}

.subtitulo {
    margin-bottom: 35px;

    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
}

#container-cards {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap:25px;
    margin-top:40px;
}

/* Resumo das tarefas */
.resumo-tarefas {
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.resumo-card {
    min-height: 100px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    background-color: #FFF;
    border: 1px solid #9DFBC1;
}

.numero-resumo {
    color: #14532D;
    font-size: 1.8rem;
    font-weight: bold;
}

@media screen and (max-width: 1023px) {

    .header {
        height: 70px;
        padding: 0 25px;
    }

    .dashboard {
        flex-direction: column;
    }

    .menu-lateral {
        width: 100%;
        padding: 15px 20px;

        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .conteudo {
        padding: 20px;
    }
}
